body {
  overflow: hidden;
  margin: 0 auto;
  width: 400px;
}

/* @media (max-width: 767px) {
  body {
    display: none;
  }
} */

#app {
  background-color: #f7f7f7;
  overflow: hidden;
  width: 400px;
}
